* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.chat-container {
    display: block;
    width: 500px;
    padding: 1rem;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: .5s;
}

.chat-button {
    display: block;
    position: absolute;
    height: 75px;
    width: 75px;
    top: 20px;
    left: -100px;
    padding: 1rem;
    background-color: #eaeaea;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background-image: url(./assets/images/chat-icon.png);
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: .5;
    transition: .5s;
}

.chat-button:hover {
    opacity: 1;
}

.toggle {
    transform: translateX(0);
}

.chat-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    background-color: blue;
}

.chat-messages {
    height: 750px;
    overflow: auto;
}

.color-selector {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5em 1em;
    background-color: #eaeaea;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
    z-index: 5;
    border-radius: 200px;
    opacity: .5;
    transition: .5s;
}

.color-selector:hover {
    opacity: 1;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.black { background-color: black; }
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.purple { background-color: purple; }
.pink { background-color: pink; }
.brown { background-color: brown; }
.white { background-color: white; border: 1px solid black; }

.color-icon {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}