* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
  
.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.chat-container {
    display: block;
    width: 500px;
    padding: 1rem;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: .5s;
}

.chat-button {
    display: block;
    position: absolute;
    height: 75px;
    width: 75px;
    top: 20px;
    left: -100px;
    padding: 1rem;
    background-color: #eaeaea;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background-image: url(./assets/images/chat-icon.png);
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: .5;
    transition: .5s;
}

.chat-button:hover {
    opacity: 1;
}

.toggle {
    transform: translateX(0);
}

.chat-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    background-color: blue;
}

.chat-messages {
    height: 750px;
    overflow: auto;
}

.color-selector, .stroke-selector {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5em 1em;
    background-color: #eaeaea;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
    z-index: 5;
    border-radius: 200px;
    opacity: .5;
    transition: .5s;
    align-items: center;
}

.color-selector:hover, .stroke-selector:hover {
    opacity: 1;
}

.stroke-selector {
    left: 120px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.stroke {
    background-color: black;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.black { background-color: black; }
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.orange { background-color: orange; }
.purple { background-color: purple; }
.pink { background-color: pink; }
.brown { background-color: brown; }
.white { background-color: white; border: 1px solid black; }

.small { height: 10px; width: 10px; }
.medium { height: 20px; width: 20px; }
.large { height: 30px; width: 30px; }
.big { height: 40px; width: 40px; }
.huge { height: 50px; width: 50px; }

.color-icon, .stroke-icon {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}

.pointer {
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.chat-messages img {
    max-width: 100%;
}

.warn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.warn p {
    margin: 0;
}

.warn p:first-child {
    font-size: 3rem;
    font-weight: 900;
}

.warn p:last-child {
    font-size: 1.5rem;
}

.offline {
    display: flex;
}

.lds-ring {
    margin-top: 1rem;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
 
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
